<!-- ==========================================================================
     NATIVE COMPONENT
     ========================================================================== -->

<!-- DESKTOP VIEW (Screens > 768px) -->
<div class="uc-native-desktop">
  <!-- homescreenContent_0: Native Banner Carousel Frame 2 -->
  <div
    class="css-175oi2r r-1awozwy r-ndvcnb r-aci1zz r-6koalj r-eqz5dr r-p1pxzi r-1mnahxq r-11rk87y r-puj83k r-11g3r6m r-wk8lta r-13qz1uu"
    id="homescreenContent_0"
  >
    <div class="css-175oi2r" style="max-width: 1217px; width: 100%; opacity: 1">
      <div
        style="
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          min-height: inherit;
        "
      >
        <div class="css-175oi2r r-gtdqiz r-ipm5af r-mhe3cw">
          <div
            class="css-175oi2r r-q3muym r-109y4c4 r-1d2f490 r-zchlnj r-ipm5af r-mhe3cw"
            style="position: fixed; opacity: 0"
          ></div>
        </div>
        <div
          data-pulltorefresh="false"
          class="css-175oi2r"
          style="flex-grow: 1"
        >
          <div
            data-index="0"
            data-key="marketing__banner_carousel__frame_2"
            class="css-175oi2r"
          >
            <div class="css-175oi2r">
              <div
                tabindex="0"
                class="css-175oi2r r-1i6wzkk r-14lw9ot r-13qz1uu r-wh77r2"
                style="
                  padding: 0px;
                  user-select: inherit !important;
                  cursor: inherit !important;
                  touch-action: inherit !important;
                  transition-duration: 0s;
                "
              >
                <div
                  aria-disabled="true"
                  tabindex="-1"
                  class="css-175oi2r r-1i6wzkk r-12vffkv"
                  style="
                    user-select: inherit !important;
                    cursor: inherit !important;
                    touch-action: inherit !important;
                    transition-duration: 0s;
                  "
                >
                  <div class="css-175oi2r r-13qz1uu">
                    <div
                      class="css-175oi2r r-1awozwy r-18u37iz r-1wtj0ep r-13qz1uu"
                    ></div>
                  </div>
                </div>
                <!-- Horizontal Track -->
                <div
                  class="css-175oi2r uc-desktop-track-wrap"
                  style="justify-content: center"
                >
                  <div
                    class="css-175oi2r r-150rngu r-18u37iz r-16y2uox r-1wbh5a2 r-lltvgl r-buy8e9 r-agouwx r-bztko3 r-iwh88d r-3pj75a r-2eszeu uc-native-scroll"
                  >
                    <div class="css-175oi2r r-18u37iz uc-native-row">
                      <ng-container
                        *ngFor="
                          let banner of banners;
                          let idx = index;
                          let last = last
                        "
                      >
                        <div
                          data-hover-animation="sizeGrow5"
                          data-active-animation="sizeShrink5"
                          tabindex="0"
                          class="css-175oi2r r-1loqt21 r-1otgn73 uc-native-card"
                          style="
                            width: 389px;
                            height: 389px;
                            overflow: hidden;
                            border: 0px;
                            border-radius: 8px;
                            opacity: 1;
                          "
                        >
                          <div
                            class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu uc-native-card-inner"
                          >
                            <img
                              [src]="banner.image"
                              [alt]="banner.alt"
                              class="uc-native-banner-img"
                              style="
                                object-fit: contain;
                                height: 100%;
                                width: 100%;
                                background-color: transparent;
                              "
                              loading="eager"
                              fetchpriority="high"
                            />
                          </div>
                        </div>
                        <div
                          *ngIf="!last"
                          tabindex="0"
                          class="css-175oi2r r-1i6wzkk uc-card-spacer-wrap"
                          style="
                            user-select: inherit !important;
                            cursor: inherit !important;
                            touch-action: inherit !important;
                            transition-duration: 0s;
                          "
                        >
                          <div
                            class="css-175oi2r r-1472mwg r-lrsllp uc-card-spacer"
                            style="width: 24px; min-width: 24px; height: 389px"
                          ></div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- homescreenContent_2: UC app service advantages -->
  <div
    class="css-175oi2r r-1awozwy r-ndvcnb r-aci1zz r-6koalj r-eqz5dr r-p1pxzi r-1mnahxq r-11rk87y r-puj83k r-11g3r6m r-wk8lta r-13qz1uu"
    id="homescreenContent_2"
  >
    <div class="css-175oi2r" style="max-width: 1217px; width: 100%; opacity: 1">
      <div
        style="
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          min-height: inherit;
        "
      >
        <div class="css-175oi2r r-gtdqiz r-ipm5af r-mhe3cw">
          <div
            class="css-175oi2r r-q3muym r-109y4c4 r-1d2f490 r-zchlnj r-ipm5af r-mhe3cw"
            style="position: fixed; opacity: 0"
          ></div>
        </div>
        <div
          data-pulltorefresh="false"
          class="css-175oi2r"
          style="flex-grow: 1"
        >
          <div
            data-index="0"
            data-key="marketing__banner_carousel__ro_banners"
            class="css-175oi2r"
          >
            <div class="css-175oi2r">
              <div
                tabindex="0"
                class="css-175oi2r r-1i6wzkk r-14lw9ot r-13qz1uu r-wh77r2"
                style="
                  padding: 0px;
                  user-select: inherit !important;
                  cursor: inherit !important;
                  touch-action: inherit !important;
                  transition-duration: 0s;
                "
              >
                <!-- Section Header -->
                <div
                  aria-disabled="true"
                  tabindex="-1"
                  class="css-175oi2r r-1i6wzkk r-12vffkv"
                  style="
                    user-select: inherit !important;
                    cursor: inherit !important;
                    touch-action: inherit !important;
                    transition-duration: 0s;
                  "
                >
                  <div class="css-175oi2r r-13qz1uu">
                    <div
                      class="css-175oi2r r-1awozwy r-18u37iz r-1wtj0ep r-13qz1uu"
                    >
                      <div
                        class="css-175oi2r r-eqz5dr r-13qz1uu r-13awgt0"
                        style="align-items: flex-start; justify-content: center"
                      >
                        <h2
                          dir="auto"
                          aria-level="2"
                          role="heading"
                          class="css-146c3p1 r-8akbws r-krxsd3 r-dnmrzs r-1udh08x r-1udbk01 r-13qz1uu"
                          style="
                            line-clamp: 2;
                            -webkit-line-clamp: 2;
                            font-family: os_semi_bold;
                            font-size: 36px;
                            line-height: 44px;
                            color: rgb(15, 15, 15);
                            text-decoration-line: none;
                            text-transform: none;
                            font-weight: 600;
                            text-align: left;
                          "
                        >
                          UC app service advantages
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="css-175oi2r r-h3s6tt r-rwqe4o"></div>

                <!-- Horizontal Track -->
                <div
                  class="css-175oi2r uc-desktop-track-wrap"
                  style="justify-content: center"
                >
                  <div
                    class="css-175oi2r r-150rngu r-18u37iz r-16y2uox r-1wbh5a2 r-lltvgl r-buy8e9 r-agouwx r-bztko3 r-iwh88d r-3pj75a r-2eszeu uc-native-scroll"
                  >
                    <div class="css-175oi2r r-18u37iz uc-native-row">
                      <ng-container
                        *ngFor="
                          let adv of advantages;
                          let idx = index;
                          let last = last
                        "
                      >
                        <div
                          data-hover-animation="sizeGrow5"
                          data-active-animation="sizeShrink5"
                          tabindex="0"
                          class="css-175oi2r r-1loqt21 r-1otgn73 uc-native-card"
                          style="
                            width: 389px;
                            height: 389px;
                            overflow: hidden;
                            border: 0px;
                            border-radius: 8px;
                            opacity: 1;
                          "
                        >
                          <div
                            class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu uc-native-card-inner"
                          >
                            <img
                              [src]="adv.image"
                              [alt]="adv.alt"
                              class="uc-native-banner-img"
                              style="
                                object-fit: contain;
                                height: 100%;
                                width: 100%;
                                background-color: transparent;
                              "
                              loading="eager"
                              fetchpriority="high"
                            />
                          </div>
                        </div>
                        <div
                          *ngIf="!last"
                          tabindex="0"
                          class="css-175oi2r r-1i6wzkk uc-card-spacer-wrap"
                          style="
                            user-select: inherit !important;
                            cursor: inherit !important;
                            touch-action: inherit !important;
                            transition-duration: 0s;
                          "
                        >
                          <div
                            class="css-175oi2r r-1472mwg r-lrsllp uc-card-spacer"
                            style="width: 24px; min-width: 24px; height: 389px"
                          ></div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MOBILE VIEW (Screens <= 768px) -->
<div class="uc-native-mobile">
  <!-- Part 1: Top Marketing Banner (marketing__image_or__m2) -->
  <div data-index="0" data-key="marketing__image_or__m2" class="css-175oi2r">
    <div class="css-175oi2r">
      <div
        tabindex="0"
        class="css-175oi2r r-1loqt21 r-1otgn73"
        style="
          width: 100%;
          overflow: hidden;
          border: 0px;
          border-radius: 0px;
          opacity: 1;
          height: 80px;
        "
      >
        <div class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu">
          <img
            src="assets/native/marketing-banner-m2.jpeg"
            alt="Urban Company"
            style="
              object-fit: fill;
              height: 100%;
              width: 100%;
              background-color: transparent;
              aspect-ratio: 4 / 1;
            "
            srcset="
              assets/native/marketing-banner-m2.jpeg 1x,
              assets/native/marketing-banner-m2.jpeg 2x,
              assets/native/marketing-banner-m2.jpeg 3x,
              assets/native/marketing-banner-m2.jpeg 4x
            "
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Part 2: Banner Carousel Frame 2 (marketing__banner_carousel__frame_2) -->
  <div data-index="1" data-key="marketing__banner_carousel__frame_2" class="css-175oi2r">
    <div class="css-175oi2r">
      <div
        tabindex="0"
        class="css-175oi2r r-1i6wzkk r-14lw9ot r-13qz1uu r-wh77r2"
        style="
          padding: 24px 16px 32px;
          user-select: inherit !important;
          cursor: inherit !important;
          touch-action: inherit !important;
          transition-duration: 0s;
        "
      >
        <div
          aria-disabled="true"
          tabindex="-1"
          class="css-175oi2r r-1i6wzkk r-12vffkv"
          style="
            user-select: inherit !important;
            cursor: inherit !important;
            touch-action: inherit !important;
            transition-duration: 0s;
          "
        >
          <div class="css-175oi2r r-13qz1uu">
            <div class="css-175oi2r r-1awozwy r-18u37iz r-1wtj0ep r-13qz1uu"></div>
          </div>
        </div>
        <div class="css-175oi2r" style="justify-content: center;">
          <div class="css-175oi2r r-150rngu r-18u37iz r-16y2uox r-1wbh5a2 r-lltvgl r-buy8e9 r-agouwx r-bztko3 r-iwh88d r-3pj75a r-2eszeu">
            <div class="css-175oi2r r-18u37iz">
              <div
                role="img"
                data-hover-animation="sizeGrow5"
                data-active-animation="sizeShrink5"
                tabindex="0"
                class="css-175oi2r r-1i6wzkk r-lrvibr r-1loqt21 r-1otgn73 r-5qlx7g r-nefvgx r-1xc7w19 r-1phboty r-1vznrp2 r-3f7b68 r-1yadl64 r-oebo59 r-6dt33c r-1udh08x r-1xy5wl5"
                style="margin-right: 0px; transition-duration: 0s;"
              >
                <div class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu" style="border-radius: 8px;">
                  <img
                    src="assets/native/mobile-frame2-banner-1.jpeg"
                    alt="Urban Company Banner 0"
                    style="
                      object-fit: contain;
                      height: 100%;
                      width: 100%;
                      background-color: transparent;
                      aspect-ratio: 1 / 1;
                    "
                    srcset="
                      assets/native/mobile-frame2-banner-1.jpeg 1x,
                      assets/native/mobile-frame2-banner-1.jpeg 2x,
                      assets/native/mobile-frame2-banner-1.jpeg 3x,
                      assets/native/mobile-frame2-banner-1.jpeg 4x
                    "
                  />
                </div>
              </div>
              <div
                tabindex="0"
                class="css-175oi2r r-1i6wzkk"
                style="
                  user-select: inherit !important;
                  cursor: inherit !important;
                  touch-action: inherit !important;
                  transition-duration: 0s;
                "
              >
                <div class="css-175oi2r r-10ptun7 r-1janqcz"></div>
              </div>
              <div
                role="img"
                data-hover-animation="sizeGrow5"
                data-active-animation="sizeShrink5"
                tabindex="0"
                class="css-175oi2r r-1i6wzkk r-lrvibr r-1loqt21 r-1otgn73 r-5qlx7g r-nefvgx r-1xc7w19 r-1phboty r-1vznrp2 r-3f7b68 r-1yadl64 r-oebo59 r-6dt33c r-1udh08x r-1xy5wl5"
                style="margin-right: 0px; transition-duration: 0s;"
              >
                <div class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu" style="border-radius: 8px;">
                  <img
                    src="assets/native/mobile-frame2-banner-2.jpeg"
                    alt="Urban Company Banner 1"
                    style="
                      object-fit: contain;
                      height: 100%;
                      width: 100%;
                      background-color: transparent;
                      aspect-ratio: 1 / 1;
                    "
                    srcset="
                      assets/native/mobile-frame2-banner-2.jpeg 1x,
                      assets/native/mobile-frame2-banner-2.jpeg 2x,
                      assets/native/mobile-frame2-banner-2.jpeg 3x,
                      assets/native/mobile-frame2-banner-2.jpeg 4x
                    "
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Part 3: Marketing Banner Strip -->
  <div class="css-175oi2r">
    <div
      data-hover-animation="sizeGrow5"
      data-active-animation="sizeShrink5"
      tabindex="0"
      class="css-175oi2r r-1loqt21 r-1otgn73"
      style="
        width: 100%;
        overflow: hidden;
        border: 0px;
        border-radius: 0px;
        opacity: 1;
        height: 80px;
      "
    >
      <div class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu">
        <img
          src="assets/native/marketing-banner-m3.jpeg"
          alt="Urban Company"
          style="
            object-fit: fill;
            height: 100%;
            width: 100%;
            background-color: transparent;
            aspect-ratio: 4 / 1;
          "
          srcset="
            assets/native/marketing-banner-m3.jpeg 1x,
            assets/native/marketing-banner-m3.jpeg 2x,
            assets/native/marketing-banner-m3.jpeg 3x,
            assets/native/marketing-banner-m3.jpeg 4x
          "
        />
      </div>
    </div>
  </div>

  <!-- Part 4: Marketing Banner Frame 8 (marketing__image_or__frame_8) -->
  <div data-index="3" data-key="marketing__image_or__frame_8" class="css-175oi2r">
    <div class="css-175oi2r">
      <div
        tabindex="0"
        class="css-175oi2r r-1loqt21 r-1otgn73"
        style="
          width: 100%;
          overflow: hidden;
          border: 0px;
          border-radius: 0px;
          opacity: 1;
          height: 320px;
        "
      >
        <div class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu">
          <img
            src="assets/native/marketing-frame8-banner.jpeg"
            alt="Urban Company"
            style="
              object-fit: fill;
              height: 100%;
              width: 100%;
              background-color: transparent;
              aspect-ratio: 1 / 1;
            "
            srcset="
              assets/native/marketing-frame8-banner.jpeg 1x,
              assets/native/marketing-frame8-banner.jpeg 2x,
              assets/native/marketing-frame8-banner.jpeg 3x,
              assets/native/marketing-frame8-banner.jpeg 4x
            "
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Part 5: UC App Service Advantages Carousel (marketing__banner_carousel__ro_banners) -->
  <div data-index="4" data-key="marketing__banner_carousel__ro_banners" class="css-175oi2r">
    <div class="css-175oi2r">
      <div
        tabindex="0"
        class="css-175oi2r r-1i6wzkk r-14lw9ot r-13qz1uu r-wh77r2"
        style="
          padding: 24px 16px 32px;
          user-select: inherit !important;
          cursor: inherit !important;
          touch-action: inherit !important;
          transition-duration: 0s;
        "
      >
        <div
          aria-disabled="true"
          tabindex="-1"
          class="css-175oi2r r-1i6wzkk r-12vffkv"
          style="
            user-select: inherit !important;
            cursor: inherit !important;
            touch-action: inherit !important;
            transition-duration: 0s;
          "
        >
          <div class="css-175oi2r r-13qz1uu">
            <div class="css-175oi2r r-1awozwy r-18u37iz r-1wtj0ep r-13qz1uu">
              <div
                class="css-175oi2r r-eqz5dr r-13qz1uu r-13awgt0"
                style="align-items: flex-start; justify-content: center;"
              >
                <h3
                  dir="auto"
                  aria-level="3"
                  role="heading"
                  class="css-146c3p1 r-8akbws r-krxsd3 r-dnmrzs r-1udh08x r-1udbk01 r-13qz1uu"
                  style="
                    -webkit-line-clamp: 2;
                    font-family: os_bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
                    font-size: 20px;
                    line-height: 28px;
                    color: rgb(15, 15, 15);
                    text-decoration-line: none;
                    text-transform: none;
                    font-weight: 700;
                    text-align: left;
                  "
                >
                  UC app service advantages
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="css-175oi2r r-1472mwg r-lrsllp" style="height: 16px;"></div>
        <div class="css-175oi2r" style="justify-content: center;">
          <div class="css-175oi2r r-150rngu r-18u37iz r-16y2uox r-1wbh5a2 r-lltvgl r-buy8e9 r-agouwx r-bztko3 r-iwh88d r-3pj75a r-2eszeu">
            <div class="css-175oi2r r-18u37iz">
              <!-- Card 1 -->
              <div
                role="img"
                tabindex="0"
                class="css-175oi2r r-1i6wzkk r-lrvibr r-1loqt21 r-1otgn73 r-5qlx7g r-nefvgx r-1xc7w19 r-1phboty r-1vznrp2 r-3f7b68 r-1yadl64 r-k79w25 r-6dt33c r-1udh08x r-1b1obt9"
                style="margin-right: 0px; transition-duration: 0s;"
              >
                <div class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu" style="border-radius: 8px;">
                  <img
                    src="assets/native/mobile-advantage-1.jpeg"
                    alt="Urban Company Banner 0"
                    style="
                      object-fit: contain;
                      height: 100%;
                      width: 100%;
                      background-color: transparent;
                      aspect-ratio: 1 / 1;
                    "
                    srcset="
                      assets/native/mobile-advantage-1.jpeg 1x,
                      assets/native/mobile-advantage-1.jpeg 2x,
                      assets/native/mobile-advantage-1.jpeg 3x,
                      assets/native/mobile-advantage-1.jpeg 4x
                    "
                  />
                </div>
              </div>
              <!-- Spacer 1 -->
              <div
                tabindex="0"
                class="css-175oi2r r-1i6wzkk"
                style="
                  user-select: inherit !important;
                  cursor: inherit !important;
                  touch-action: inherit !important;
                  transition-duration: 0s;
                "
              >
                <div class="css-175oi2r r-10ptun7 r-1janqcz"></div>
              </div>
              <!-- Card 2 -->
              <div
                role="img"
                tabindex="0"
                class="css-175oi2r r-1i6wzkk r-lrvibr r-1loqt21 r-1otgn73 r-5qlx7g r-nefvgx r-1xc7w19 r-1phboty r-1vznrp2 r-3f7b68 r-1yadl64 r-k79w25 r-6dt33c r-1udh08x r-1b1obt9"
                style="margin-right: 0px; transition-duration: 0s;"
              >
                <div class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu" style="border-radius: 8px;">
                  <img
                    src="assets/native/mobile-advantage-2.jpeg"
                    alt="Urban Company Banner 1"
                    style="
                      object-fit: contain;
                      height: 100%;
                      width: 100%;
                      background-color: transparent;
                      aspect-ratio: 1 / 1;
                    "
                    srcset="
                      assets/native/mobile-advantage-2.jpeg 1x,
                      assets/native/mobile-advantage-2.jpeg 2x,
                      assets/native/mobile-advantage-2.jpeg 3x,
                      assets/native/mobile-advantage-2.jpeg 4x
                    "
                  />
                </div>
              </div>
              <!-- Spacer 2 -->
              <div
                tabindex="0"
                class="css-175oi2r r-1i6wzkk"
                style="
                  user-select: inherit !important;
                  cursor: inherit !important;
                  touch-action: inherit !important;
                  transition-duration: 0s;
                "
              >
                <div class="css-175oi2r r-10ptun7 r-1janqcz"></div>
              </div>
              <!-- Card 3 -->
              <div
                role="img"
                tabindex="0"
                class="css-175oi2r r-1i6wzkk r-lrvibr r-1loqt21 r-1otgn73 r-5qlx7g r-nefvgx r-1xc7w19 r-1phboty r-1vznrp2 r-3f7b68 r-1yadl64 r-k79w25 r-6dt33c r-1udh08x r-1b1obt9"
                style="margin-right: 0px; transition-duration: 0s;"
              >
                <div class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu" style="border-radius: 8px;">
                  <img
                    src="assets/native/mobile-advantage-3.jpeg"
                    alt="Urban Company Banner 2"
                    style="
                      object-fit: contain;
                      height: 100%;
                      width: 100%;
                      background-color: transparent;
                      aspect-ratio: 1 / 1;
                    "
                    srcset="
                      assets/native/mobile-advantage-3.jpeg 1x,
                      assets/native/mobile-advantage-3.jpeg 2x,
                      assets/native/mobile-advantage-3.jpeg 3x,
                      assets/native/mobile-advantage-3.jpeg 4x
                    "
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Part 6: Marketing Banner Frame 10b (marketing__image_or__frame10b) -->
  <div data-index="5" data-key="marketing__image_or__frame10b" class="css-175oi2r">
    <div class="css-175oi2r">
      <div
        tabindex="0"
        class="css-175oi2r r-1loqt21 r-1otgn73"
        style="
          width: 100%;
          overflow: hidden;
          border: 0px;
          border-radius: 0px;
          opacity: 1;
          height: 320px;
        "
      >
        <div class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu">
          <img
            src="assets/native/marketing-frame10b-banner.jpeg"
            alt="Urban Company"
            style="
              object-fit: fill;
              height: 100%;
              width: 100%;
              background-color: transparent;
              aspect-ratio: 1 / 1;
            "
            srcset="
              assets/native/marketing-frame10b-banner.jpeg 1x,
              assets/native/marketing-frame10b-banner.jpeg 2x,
              assets/native/marketing-frame10b-banner.jpeg 3x,
              assets/native/marketing-frame10b-banner.jpeg 4x
            "
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Part 7: Marketing Banner Frame 11 (marketing__image_or__frame_11) -->
  <div data-index="6" data-key="marketing__image_or__frame_11" class="css-175oi2r">
    <div class="css-175oi2r">
      <div
        tabindex="0"
        class="css-175oi2r r-1loqt21 r-1otgn73"
        style="
          width: 100%;
          overflow: hidden;
          border: 0px;
          border-radius: 0px;
          opacity: 1;
          height: 410px;
        "
      >
        <div class="css-175oi2r r-1pi2tsx r-1udh08x r-13qz1uu">
          <img
            src="assets/native/marketing-frame11-banner.jpeg"
            alt="Urban Company"
            style="
              object-fit: fill;
              height: 100%;
              width: 100%;
              background-color: transparent;
              aspect-ratio: 0.78 / 1;
            "
            srcset="
              assets/native/marketing-frame11-banner.jpeg 1x,
              assets/native/marketing-frame11-banner.jpeg 2x,
              assets/native/marketing-frame11-banner.jpeg 3x,
              assets/native/marketing-frame11-banner.jpeg 4x
            "
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Part 8: Story Section (Designed in India. For Indian homes.) -->
  <div data-index="7" data-key="marketing__story__designed_in_india" class="css-175oi2r uc-native-brand-story">
    <div class="uc-brand-story-inner">
      <h2 class="uc-brand-story-title">
        Designed in India.<br />
        For Indian homes.
      </h2>
      <p class="uc-brand-story-desc">
        At Urban Company, we spent 12 years inside Indian kitchens, servicing 50+ brands. We saw that your RO water purifier was broken. The RO industry wasn't built for consumers but around Annual Maintenance Contracts (AMCs).
      </p>
      <p class="uc-brand-story-desc">
        So we asked a different question: what if we built a purifier people never had to think about? One that just worked quietly and reliably for years. That question became Native. India's first RO that needs no service for 3 years. Designed in India. For homes like yours.
      </p>
      <p class="uc-brand-story-desc">
        Today, Native builds beautiful, smart RO water purifiers and smart door locks. They are designed, engineered, and built in India. We are focused on making your everyday living better.
      </p>
    </div>
  </div>
</div>
